{% extends "main/base.html" %}

{% block title %}
Change Password
{% endblock %}

{% block content %}

<div class="profile-container">

    <div class="profile-card">

        <h1>🔒 Change Password</h1>

        <form method="POST" class="password-form">

            {% csrf_token %}

            {{ form.as_p }}

            <button type="submit" class="home-btn">
                🔒 Update Password
            </button>

        </form>

        <br>

        <a href="{% url 'profile' %}" class="favorite-btn">
            ← Back to Profile
        </a>

    </div>

</div>

{% endblock %}