{% extends 'main/base.html' %}
{% load static %}

{% block title %}
Home
{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/style1.css' %}">
{% endblock %}

{% block content %}

<div class="home-container">

    <h1>Select Department</h1>

    <div class="dept-box"
         onclick="window.location.href='{% url 'semester' 'cst' %}'">
        Computer Science and Technology
    </div>

    <div class="dept-box"
         onclick="window.location.href='{% url 'semester' 'civil' %}'">
        Civil Engineering
    </div>

    <div class="dept-box"
         onclick="window.location.href='{% url 'semester' 'electrical' %}'">
        Electrical Engineering
    </div>

    <div class="dept-box"
         onclick="window.location.href='{% url 'semester' 'mechanical' %}'">
        Mechanical Engineering
    </div>

</div>

{% endblock %}