{% extends "main/base.html" %}
{% load static %}

{% block title %}
{{ pdf.subject }} Question Paper | {{ pdf.department|upper }} Semester {{ pdf.semester }}
{% endblock %}

{% block canonical_url %}
{{ request.scheme }}://{{ request.get_host }}{% url 'paper_detail' pdf.slug %}
{% endblock %}

{% block og_title %}
{{ pdf.subject }} Question Paper | {{ pdf.department|upper }} Semester {{ pdf.semester }}
{% endblock %}

{% block og_description %}
Download {{ pdf.subject }} question paper for {{ pdf.department|upper }} Semester {{ pdf.semester }}. View and download the diploma engineering question paper in PDF format from CTS Question Paper.
{% endblock %}

{% block meta_description %}
Download {{ pdf.subject }} question paper for {{ pdf.department|upper }} Semester {{ pdf.semester }}. View and download the diploma engineering question paper in PDF format from CTS Question Paper.
{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/paper_detail.css' %}">
{% endblock %}

{% block content %}

<div class="paper-container">

    <div class="paper-card">

        <h1>{{ pdf.subject }}</h1>

        <div class="paper-info">

            <p>
                <strong>🏢 Department:</strong>
                {{ pdf.department|upper }}
            </p>

            <p>
                <strong>🎓 Semester:</strong>
                {{ pdf.semester }}
            </p>

            <p>
                <strong>📅 Uploaded:</strong>
                {{ pdf.uploaded_at|date:"d M Y" }}
            </p>

        </div>

        <div class="paper-buttons">

            <a href="{{ pdf.pdf_file.url }}"
               target="_blank"
               class="preview-btn">

                👁 Preview PDF

            </a>

          <a href="{% url 'download_pdf' pdf.slug %}"
             class="download-btn">

              📥 Download PDF

          </a>
            {% if user.is_authenticated %}

    {% if is_favorite %}

        <a href="{% url 'remove_favorite' pdf.id %}" class="favorite-btn remove-btn">
            💔 Remove from Favorites
        </a>

    {% else %}

        <a href="{% url 'add_favorite' pdf.id %}" class="favorite-btn">
            ❤️ Add to Favorites
        </a>

    {% endif %}

{% else %}

    <a href="{% url 'login' %}?login=true" class="favorite-btn">
        ❤️ Login to Add Favorite
    </a>

{% endif %}

        </div>

    </div>

</div>

{% endblock %}