{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Forgot Password</title>

    <link href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css" rel="stylesheet">

    <link rel="stylesheet" href="{% static 'css/style.css' %}?v=2028">

</head>

<body>

{% if messages %}
<div class="message-container">
    {% for message in messages %}
        <div class="message {{ message.tags }}">
            {{ message }}
        </div>
    {% endfor %}
</div>
{% endif %}

<div class="wrapper">

    <!-- HEADER -->
    <div class="form-header forgot-header">
    <div class="titles">
        <span class="title-register">Forgot Password</span>
    </div>
</div>

    <!-- FORM -->
    <div class="register-form" style="left:32px;">

        <form method="POST">

            {% csrf_token %}

            {{ form.email.errors }}

            <div class="input-box">

                <input
                    type="email"
                    name="email"
                    id="email"
                    class="input-field"
                    autocomplete="off"
                    required
                >

                <label class="label">
                    Email Address
                </label>

                <i class='bx bx-envelope icon'></i>

            </div>

            <div class="input-box">

                <button type="submit" class="btn-submit">

                    Send Reset Link

                    <i class='bx bx-send'></i>

                </button>

            </div>

            <div class="switch-form">

                <span>

                    Remember your password?

                    <a href="{% url 'login' %}?login=true">

                        Back to Login

                    </a>

                </span>

            </div>

        </form>

    </div>

</div>

<script>

setTimeout(function(){

    const messages = document.querySelector(".message-container");

    if(messages){

        messages.style.opacity = "0";

        setTimeout(function(){

            messages.remove();

        },300);

    }

},3000);

</script>

</body>
</html>