{% extends "main/base.html" %}

{% block title %}
Search Results
{% endblock %}

{% block content %}

<div class="search-container">

    <h1>🔍 Search Results</h1>

    {% if query %}
        <p style="text-align:center; margin-bottom:25px;">
            Search for:
            <strong>"{{ query }}"</strong>
        </p>
    {% endif %}

    <p style="text-align:center; margin-bottom:35px;">
        {{ results|length }} Result{{ results|length|pluralize }} Found
    </p>

    {% if results %}

        {% for pdf in results %}

        <div class="paper-card">

            <h2>{{ pdf.subject }}</h2>

            <div class="paper-info">
                <span>🏢 <b>Department:</b> {{ pdf.department|upper }}</span>
                <span>🎓 <b>Semester:</b> {{ pdf.semester }}</span>
            </div>

            <div class="paper-buttons">

                <a href="{{ pdf.pdf_file.url }}" target="_blank" class="preview-btn">
                    👁 Preview PDF
                </a>

                <a href="{{ pdf.pdf_file.url }}" download class="download-btn">
                    📥 Download PDF
                </a>

            </div>

        </div>

        {% endfor %}

    {% else %}

        <div class="paper-card" style="text-align:center;">
            <h2>❌ No Question Paper Found</h2>
            <p>Try another subject, department or semester.</p>
        </div>

    {% endif %}

</div>

{% endblock %}